
/**
 * Override CSS's
 */
 .bg-light {
     background-color: #02aadd!important;
 }


.margin-top-20{
  margin-top: 20px;
}
.feature-img{
  max-height: 200px
}


.footer-bottom{
  padding: 20px;
  margin-top: 20px;
  background: #02aadd;
}
/*
* Product CSS
*/
.product-item {
  background: #02aadd;
}

.child-rows {
    padding-left: 20px;
    border-left: 1px solid #dfdfdf;
    background: #FFF;
}
.child-rows a.list-group-item{
  border-left: 0px!important;
}
.list-group-item.active {
	z-index: 2;
	color: #fff;
	background-color: #6c9fd7;
	border-color: #699bd0;
}
